.cards-proyecto{
    display: grid;
    margin-left: 10px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.boton{
    position: relative;
    margin: 2px;
    padding: 10px;
    width: 200px; 
}
.botones{
    position: relative; 
    bottom: -10px; 
}
#editar{
margin: 10px;
}

@media(max-width: 700px){
    .cards-proyecto{
    display: grid;
    grid-template-columns: 1fr; 
    }
}
